<!DOCTYPE html>
{% import "../includes/lucide.njk" as lu %}
<html>
  <head>
    <link rel="stylesheet" href="/icons/style.css">
    <title>Page Title</title>
  </head>
  <body>
    <h1>Lucide Icons</h1>
    <p class ='red'>This is a lucide icon {{ lu.i("globe") }}</p>
    <p>This is also a lucide icon {{ lu.i("battery", 3, ['va-3']) }}</p>
    <p>This is also a lucide icon {{ lu.i("zap", 6, ['red']) }}</p>
    <div style = 'display:flex;justify-content: center; align-items: center;gap:10px;'>
      {{ lu.i("wand") }}
      {{ lu.i("app-window") }}
      {{ lu.i("banana") }}
    </div>
  </body>
</html>